.vs/
ShoppingCart.API/obj/
ShoppingCart.API/bin/
ShoppingCart.Services/obj/
ShoppingCart.Tests/bin/
ShoppingCart.Services/bin/
ShoppingCart.Tests/obj/
ShoppingCart.API.Tests/bin/
ShoppingCart.API.Tests/obj/
TestResults/
Services/obj/
Services/bin/
ShoppingCart/bin/
Services.Tests/obj/
ShoppingCart/obj/
Services.Tests/bin/
DataAccess/obj/
DataAccess/bin/
DataAccessTests/bin/
DataAccessTests/obj/
Entities/obj/
ShoppingCart.Services.Tests/obj/
ShoppingCart.Services.Tests/bin/
